body {
    background-color: #F5FFFA;
    margin-top:60px;
    margin-bottom:10px;
}

.head {
    margin-bottom: 50px;
    font-family: Lobster;
    text-shadow:2px 2px 4px 	#808080;
}

.photo {
    margin-top:50px;
}

.para {
    text-align: justify;
    font-size:20px;
    margin-bottom:50px;
    font-family:Roboto;
}

.facts {
    text-align: justify;
    font-size:20px;
    margin-bottom:50px;
    font-family:Roboto;
}

.video {
    text-align: center;
    margin-bottom:50px;
    margin-top: 50px;
    font-family:Roboto;
    font-size:16px;
}

.footer {
    font-size: 16px;
    text-align:justify;
    font-family:Roboto;
    margin: 0 auto;
}

#a {
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    margin-top:20px;
}

blockquote {
    text-align: justify;
}

footer {
    text-align: right;
    font-size: 16px;
    margin-right: 60px;
}
